.u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/images/8e3d2d19-172e-4ac7-a29c-89558ff44d07.jpg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-1 .u-text-1 {
  font-size: 3.125rem;
  width: 253px;
  margin: 60px auto 0;
}

.u-section-1-1 .u-group-1 {
  width: 532px;
  min-height: 181px;
  margin: 172px auto 60px;
}

.u-section-1-1 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-1-1 .u-text-2 {
  font-size: 6.25rem;
  margin: 0 auto;
}

.u-section-1-1 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 1.625rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  margin: 21px auto 0 0;
  padding: 1px 41px 3px;
}

.u-section-1-1 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 1.625rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  margin: -49px 0 0 auto;
  padding: 1px 19px 2px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 528px;
  }

  .u-section-1-1 .u-text-1 {
    margin-top: 90px;
  }

  .u-section-1-1 .u-group-1 {
    margin-top: 142px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 527px;
  }

  .u-section-1-1 .u-text-1 {
    margin-top: 84px;
  }

  .u-section-1-1 .u-group-1 {
    margin-top: 148px;
  }

  .u-section-1-1 .u-text-2 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 332px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1-1 .u-group-1 {
    min-height: 219px;
    width: 357px;
    margin-left: -9px;
    margin-right: -9px;
  }

  .u-section-1-1 .u-text-2 {
    font-size: 3.5rem;
    width: auto;
    margin-top: 51px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-1-1 .u-btn-1 {
    font-size: 1.125rem;
    margin-top: 61px;
    margin-left: -29px;
    padding: 4px 34px 5px 33px;
  }

  .u-section-1-1 .u-btn-2 {
    font-size: 1.125rem;
    margin-top: -42px;
    margin-right: -31px;
    padding: 5px 18px 5px 16px;
  }
}.u-section-1-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/images/bg.jpeg");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-2 .u-text-1 {
  font-size: 3.125rem;
  width: 253px;
  margin: 60px auto 0;
}

.u-section-1-2 .u-group-1 {
  width: 532px;
  min-height: 181px;
  margin: 172px auto 60px;
}

.u-section-1-2 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-1-2 .u-text-2 {
  font-size: 6.25rem;
  margin: 0 auto;
}

.u-section-1-2 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 1.625rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  margin: 21px auto 0 0;
  padding: 1px 41px 3px;
}

.u-section-1-2 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 1.625rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  margin: -49px 0 0 auto;
  padding: 1px 19px 2px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 528px;
  }

  .u-section-1-2 .u-text-1 {
    margin-top: 91px;
  }

  .u-section-1-2 .u-group-1 {
    margin-top: 140px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 527px;
  }

  .u-section-1-2 .u-text-1 {
    margin-top: 84px;
  }

  .u-section-1-2 .u-group-1 {
    margin-top: 148px;
  }

  .u-section-1-2 .u-text-2 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 332px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1-2 .u-group-1 {
    min-height: 219px;
    width: 357px;
    margin-left: -9px;
    margin-right: -9px;
  }

  .u-section-1-2 .u-text-2 {
    font-size: 3.5rem;
    width: auto;
    margin-top: 51px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-1-2 .u-btn-1 {
    font-size: 1.125rem;
    margin-top: 61px;
    margin-left: -29px;
    padding: 4px 34px 5px 33px;
  }

  .u-section-1-2 .u-btn-2 {
    font-size: 1.125rem;
    margin-top: -42px;
    margin-right: -31px;
    padding: 5px 18px 5px 16px;
  }
}.u-section-1-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/images/bg2.jpg");
  background-position: 50% 50%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-3 .u-text-1 {
  font-size: 3.125rem;
  width: 253px;
  margin: 60px auto 0;
}

.u-section-1-3 .u-group-1 {
  width: 532px;
  min-height: 181px;
  margin: 172px auto 60px;
}

.u-section-1-3 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-1-3 .u-text-2 {
  font-size: 6.25rem;
  margin: 0 auto;
}

.u-section-1-3 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 1.625rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  margin: 21px auto 0 0;
  padding: 1px 41px 3px;
}

.u-section-1-3 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 1.625rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  margin: -49px 0 0 auto;
  padding: 1px 19px 2px;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 528px;
  }

  .u-section-1-3 .u-text-1 {
    margin-top: 93px;
  }

  .u-section-1-3 .u-group-1 {
    margin-top: 139px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 527px;
  }

  .u-section-1-3 .u-text-1 {
    margin-top: 84px;
  }

  .u-section-1-3 .u-group-1 {
    margin-top: 148px;
  }

  .u-section-1-3 .u-text-2 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 332px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1-3 .u-group-1 {
    min-height: 219px;
    width: 357px;
    margin-left: -9px;
    margin-right: -9px;
  }

  .u-section-1-3 .u-text-2 {
    font-size: 3.5rem;
    width: auto;
    margin-top: 51px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-1-3 .u-btn-1 {
    font-size: 1.125rem;
    margin-top: 61px;
    margin-left: -29px;
    padding: 4px 34px 5px 33px;
  }

  .u-section-1-3 .u-btn-2 {
    font-size: 1.125rem;
    margin-top: -42px;
    margin-right: -31px;
    padding: 5px 18px 5px 16px;
  }
}.u-block-8c2b-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-8c2b-3 {
  position: absolute;
  left: 0;
}

.u-block-8c2b-4 {
  position: absolute;
  right: 0;
}.u-section-2 .u-sheet-1 {
  min-height: 38px;
}.u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("/images/scriptwriting-image.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 800px;
}

.u-section-3 .u-text-1 {
  font-size: 5rem;
  font-weight: 700;
  width: 100%;
  margin: 133px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 89px 56px 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 109px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 716px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 94px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 74px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 61px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 537px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 338px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 634px;
}

.u-section-4 .u-line-1 {
  height: 8px;
  transform-origin: left center 0px;
  width: 1140px;
  margin: 63px 0 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 570px;
  margin: 0 0 0 auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 433px;
  margin-top: 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 29px 9px 30px;
}

.u-section-4 .u-icon-1 {
  width: 37px;
  height: 37px;
  margin: 96px auto 0 181px;
}

.u-section-4 .u-text-1 {
  margin: -38px auto 0;
}

.u-section-4 .u-form-1 {
  height: 126px;
  width: 552px;
  margin: 50px 0 0;
}

.u-section-4 .u-video-1 {
  width: 570px;
  height: 433px;
  margin: -433px auto 0 0;
}

.u-section-4 .embed-responsive-1 {
  position: absolute;
}

.u-section-4 .u-line-2 {
  height: 8px;
  transform-origin: left center 0px;
  margin-top: 0;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-4 .u-line-1 {
    width: 940px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 494px;
    margin-top: 12px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 421px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 83px;
    margin-left: 161px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: -39px;
    margin-right: 148px;
  }

  .u-section-4 .u-form-1 {
    width: 476px;
    margin-top: 52px;
  }

  .u-section-4 .u-video-1 {
    width: 446px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 669px;
  }

  .u-section-4 .u-line-1 {
    margin-top: 57px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 363px;
    margin-right: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 235px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 9px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 26px;
    margin-left: 162px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 151px;
  }

  .u-section-4 .u-form-1 {
    margin-top: 7px;
  }

  .u-section-4 .u-video-1 {
    height: 362px;
    margin-top: -630px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-line-2 {
    margin-top: 6px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 710px;
  }

  .u-section-4 .u-line-1 {
    margin-top: 37px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 261px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 369px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 126px;
    margin-left: 164px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 198px;
  }

  .u-section-4 .u-form-1 {
    margin-top: 21px;
  }

  .u-section-4 .u-video-1 {
    height: 364px;
    margin-top: -629px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-line-2 {
    margin-top: 7px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 538px;
  }

  .u-section-4 .u-line-1 {
    margin-top: 13px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 143px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 356px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 105px;
    margin-left: 124px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -32px;
    margin-right: 91px;
  }

  .u-section-4 .u-form-1 {
    width: 322px;
    margin-top: 34px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-video-1 {
    height: 251px;
    margin-top: -499px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-line-2 {
    margin-top: 84px;
  }
}