.u-section-1 {
  background-image: url("/images/a909fb73f3b14b8c29ad11c514586bf0e121822bf440e702df1281c9ebcd862ef19e69d3ef0415e0c411fa35606750cdb3c58ff43adc5160c59c1c_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 644px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 1.875rem;
  background-image: none;
  margin: 373px auto 0 203px;
  padding: 6px 31px 6px 30px;
}

.u-section-1 .u-line-1 {
  width: 203px;
  height: 3px;
  transform-origin: right center 0px;
  margin: -33px auto 0 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  font-size: 1.875rem;
  background-image: none;
  margin: 92px auto 0 356px;
  padding: 6px 31px 6px 30px;
}

.u-section-1 .u-line-2 {
  width: 356px;
  height: 3px;
  transform-origin: left center 0px;
  margin: -33px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 570px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 357px;
    margin-left: 158px;
    padding: 0 21px 0 20px;
  }

  .u-section-1 .u-line-1 {
    width: 158px;
    transform-origin: left center 0px;
    margin-top: -27px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 105px;
    margin-left: 239px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-line-2 {
    width: 239px;
    margin-top: -27px;
    margin-bottom: 54px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 618px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 378px;
    margin-left: 139px;
    padding-right: 10px;
    padding-left: 9px;
  }

  .u-section-1 .u-line-1 {
    width: 139px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 41px;
    padding-right: 11px;
    padding-bottom: 1px;
    padding-left: 11px;
  }

  .u-section-1 .u-line-2 {
    transform-origin: right center 0px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 521px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.25rem;
    margin-top: 331px;
    margin-left: 78px;
    padding-right: 14px;
    padding-left: 13px;
  }

  .u-section-1 .u-line-1 {
    width: 78px;
    margin-top: -19px;
  }

  .u-section-1 .u-btn-2 {
    font-size: 1.25rem;
    margin-top: 30px;
    margin-left: 144px;
  }

  .u-section-1 .u-line-2 {
    width: 144px;
    margin-top: -19px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 534px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1rem;
    margin-top: 360px;
    margin-left: 60px;
    padding-right: 16px;
    padding-left: 14px;
  }

  .u-section-1 .u-line-1 {
    width: 60px;
    margin-top: -15px;
  }

  .u-section-1 .u-btn-2 {
    font-size: 1rem;
    margin-top: 46px;
    margin-left: 103px;
    padding-right: 10px;
    padding-left: 8px;
  }

  .u-section-1 .u-line-2 {
    width: 103px;
    margin-top: -16px;
  }
}
.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 18px;
}
.u-section-3 .u-sheet-1 {
  min-height: 666px;
}

.u-section-3 .u-list-1 {
  width: 1140px;
  grid-template-rows: auto;
  margin: 50px 0 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 375px;
  grid-gap: 0px;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-3 .u-image-1 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-1 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 2px 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-3 .u-image-2 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 2px 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-3 .u-image-3 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-5 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 2px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    width: 940px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 309px;
  }

  .u-section-3 .u-image-1 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 710px;
  }

  .u-section-3 .u-image-1 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }
}
